@model IEnumerable<AE.Mpg.Entity.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Create new vehicle", "VehicleCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturingYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine)
        </th>
        <th>
            Management
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.ActionLink("Manage fill ups", "Fills", new { id = item.VehicleId }) |
                @Html.ActionLink("Edit", "VehicleEdit", new { id = item.VehicleId }) |
                @Html.ActionLink("Delete", "VehicleDelete", new { id = item.VehicleId })
            </td>
        </tr>
    }
</table>
