@using AE.Mpg.Entity
@using AE.WebUI.ViewModels
@model MpgViewModel

@{
    ViewBag.Title = "Mpg";
}

<div class="col-sm-6" style="margin-top: 10px;">
    <select id="vehicleId" class="form-control">
        @foreach (Vehicle v in Model.Vehicles)
        {
            if (v.VehicleId == Model.Selected)
            {
                <option selected="selected" value="@v.VehicleId">@v.Make @v.Model</option>
            }
            else
            {
                <option value="@v.VehicleId">@v.Make @v.Model</option>
            }
        }
    </select>
</div>

@if (Request.IsAuthenticated)
{
    <script>
        function newFillUp()
        {
            var id = $('#vehicleId').val();
            var action = '@Url.Action("FillCreate", "MpgAdmin")';
            location.href = action + "?" + "id=" + id;
        }
    </script>

    <div class="col-sm-3" style="margin-top: 10px;">
        <button id="newFillUp" class="btn btn-default" onclick='newFillUp();'>New fill up</button>
    </div>

    <div class="col-sm-3" style="margin-top: 10px;">
        <button class="btn btn-default" onclick="location.href='@Url.Action("Vehicles", "MpgAdmin")'">Managemement</button>
    </div>
}

@* chart *@
<div id="chart" class="col-lg-12" style="margin-top: 20px;">
</div>

@section scripts {
    <script>
        function update() {
            var id = $('#vehicleId').val();
            updateChart(id);
        }

        // chart
        function updateChart(id) {
            var chart = $('#chart').highcharts();
            $.getJSON("/api/mpg/" + id,
                function (response) {
                    if (response.Success === true) {
                        // create series
                        var seriesName = response.Vehicle.Make + ", " + response.Vehicle.Model;
                        var series = chart.addSeries({
                            name: seriesName
                        });
                        // add data
                        var mileage = 0;
                        for (var i = 0; i < response.Fills.length; i++) {
                            var data = response.Fills[i];
                            if (mileage === 0) {
                                mileage = data.Mileage;
                            } else {
                                var distance = data.Mileage - mileage;
                                mileage = data.Mileage;
                                var consumption = data.Amount;
                                var consumptionPer100 = consumption / distance * 100;
                                var point = new Array();
                                point.push(data.Mileage);
                                point.push(consumptionPer100);
                                series.addPoint(point, false);
                            }
                        }
                        chart.redraw();
                    }
                });
        }

        // doc rdy
        $(function () {
            $('#chart').highcharts({
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'Mileage'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Consumption'
                    }
                },
                tooltip: {
                    valueSuffix: "L / 100KM",
                    valueDecimals: 1,
                    crosshairs: true,
                    followPointer: true,
                    followTouchMove: true,
                    shared: true
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                }
            });
            // listen for selection change
            $('#vehicleId').change(update);
            update();
        });
    </script>
}